<!DOCTYPE html>
<HTML>
<HEAD>
</HEAD>
<BODY>
	<div>
	{{ exception }}
	</div>
	<div>
	{{ code }}
	</div>
	<div>
	{{ message }}
	</div>
	<div>
	{{ file }}
	</div>
	<div>
	{{ line }}
	</div>

</BODY>
</HTML>