{% extends _request.isAjax ? "base_blank.twig" : "base_logged.twig" %}

{% block body %}
	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<ol class="breadcrumb">
				<li>
					<i class="fa fa-dashboard"></i> <a href="/log">Logs</a>
				</li>
				<li class="active">
					<i class="fa fa-file"></i> Show
				</li>
			</ol>
		</div>
	</div>

	<DIV class="row">

		<div class="panel panel-default">
			<div class="panel-heading">Detail</div>
			<div class="panel-body">
			<table class="table">
				<tr><th>Action:</th><td>{{entity.action}}</td></tr>
				<tr><th>User:</th><td>{{entity.user}}</td></tr>
				<tr><th>Date:</th><td>{{entity.createdAt|date('Y-m-d H:i:s')}}</td></tr>
				<tr><th>Arguments:</th><td><pre>{{entity.arguments}}</pre></td></tr>
				<tr><th>Result:</th><td><pre>{{entity.result}}</pre></td></tr>
				<tr><th>Ip address:</th><td>{{entity.ipAddress}}</td></tr>
				<tr><th>User agent:</th><td>{{entity.userAgent}}</td></tr>
				<tr><th>Is success:</th><td>{%if entity.isSuccess%}Yes{%else%}No: {{entity.failMessage}}{%endif%}</td></tr>
			</table>
			</div>
		</div>
	</DIV>

	<DIV class="row">

		{%if addDevices %}
			<div class="panel panel-default">
				<div class="panel-heading">Add devices</div>
				<div class="panel-body">

					<table class="table">
						<thead>
							<tr><th>Id</th>
								<th>Name</th>
								<th>Serial number</th>
								<th>State</th>
								<th>Location</th>
								<th>Warranty expiration date</th>
								<th>Price</th>
								<th>Note</th>
							</tr>
						</thead>
						<tbody>
							{%for record in addDevices%}
								<tr>
									<td>{{record.id}}</td>
									<td>{{record.name}}</td>
									<td>{{record.serial_number}}</td>
									<td>{{record.state}}</td>
									<td>{{record.location}}</td>
									<td>{{record.warranty_expiration_date|date('Y-m-d')}}</td>
									<td>{{record.price}}</td>
									<td>{{record.note}}</td>
								</tr>
							{%endfor%}
						</tbody>
					</table>
				</div>
			</div>
		{%endif%}


		{%if editDevices %}
			<div class="panel panel-default">
				<div class="panel-heading">Edit devices</div>
				<div class="panel-body">

					<table class="table">
						<thead>
							<tr><th>Id</th>
								<th>Name</th>
								<th>Serial number</th>
								<th>State</th>
								<th>Location</th>
								<th>Warranty expiration date</th>
								<th>Price</th>
								<th>Note</th>
							</tr>
						</thead>
						<tbody>
							{%for record in editDevices%}
								<tr>
									<td>-{{record.id}}</td>
									<td>{{record.name}}</td>
									<td>{{record.serial_number}}</td>
									<td>{{record.state}}</td>
									<td>{{record.location}}</td>
									<td>{{record.warranty_expiration_date|date('Y-m-d')}}</td>
									<td>{{record.price}}</td>
									<td>{{record.note}}</td>
								</tr>
								<tr>
									<td>+{{record.id}}</td>
									<td>{{record._name}}</td>
									<td>{{record._serial_number}}</td>
									<td>{{record._state}}</td>
									<td>{{record._location}}</td>
									<td>{{record._warranty_expiration_date|date('Y-m-d')}}</td>
									<td>{{record._price}}</td>
									<td>{{record._note}}</td>
								</tr>
							{%endfor%}
						</tbody>
					</table>
				</div>
			</div>
		{%endif%}

		{%if removeDevices %}
			<div class="panel panel-default">
				<div class="panel-heading">Remove devices</div>
				<div class="panel-body">

					<table class="table">
						<thead>
							<tr><th>Id</th>
								<th>Name</th>
								<th>Serial number</th>
								<th>State</th>
								<th>Location</th>
								<th>Warranty expiration date</th>
								<th>Price</th>
								<th>Note</th>
							</tr>
						</thead>
						<tbody>
							{%for record in removeDevices%}
								<tr>
									<td>{{record.id}}</td>
									<td>{{record.name}}</td>
									<td>{{record.serial_number}}</td>
									<td>{{record.state}}</td>
									<td>{{record.location}}</td>
									<td>{{record.warranty_expiration_date|date('Y-m-d')}}</td>
									<td>{{record.price}}</td>
									<td>{{record.note}}</td>
								</tr>
							{%endfor%}
						</tbody>
					</table>
				</div>
			</div>
		{%endif%}


		{%if addLocations %}
			<div class="panel panel-default">
				<div class="panel-heading">Add locations</div>
				<div class="panel-body">

					<table class="table">
						<thead>
							<tr><th>Id</th>
								<th>Name</th>
								<th>City</th>
								<th>Street</th>
								<th>Number</th>
								<th>Apartment</th>
								<th>Postal</th>
								<th>Phone</th>
								<th>Email</th>
							</tr>
						</thead>
						<tbody>
							{%for record in addLocations%}
								<tr>
									<td>{{record.id}}</td>
									<td>{{record.name}}</td>
									<td>{{record.city}}</td>
									<td>{{record.street}}</td>
									<td>{{record.number}}</td>
									<td>{{record.apartment}}</td>
									<td>{{record.postal}}</td>
									<td>{{record.phone}}</td>
									<td>{{record.email}}</td>
								</tr>
							{%endfor%}
						</tbody>
					</table>
				</div>
			</div>
		{%endif%}

		{%if editLocations %}
			<div class="panel panel-default">
				<div class="panel-heading">Edit locations</div>
				<div class="panel-body">

					<table class="table">
						<thead>
							<tr><th>Id</th>
								<th>Name</th>
								<th>City</th>
								<th>Street</th>
								<th>Number</th>
								<th>Apartment</th>
								<th>Postal</th>
								<th>Phone</th>
								<th>Email</th>
							</tr>
						</thead>
						<tbody>
							{%for record in editLocations%}
								<tr>
									<td>-{{record.id}}</td>
									<td>{{record.name}}</td>
									<td>{{record.city}}</td>
									<td>{{record.street}}</td>
									<td>{{record.number}}</td>
									<td>{{record.apartment}}</td>
									<td>{{record.postal}}</td>
									<td>{{record.phone}}</td>
									<td>{{record.email}}</td>
								</tr>
								<tr>
									<td>+{{record.id}}</td>
									<td>{{record._name}}</td>
									<td>{{record._city}}</td>
									<td>{{record._street}}</td>
									<td>{{record._number}}</td>
									<td>{{record._apartment}}</td>
									<td>{{record._postal}}</td>
									<td>{{record._phone}}</td>
									<td>{{record._email}}</td>
								</tr>
							{%endfor%}
						</tbody>
					</table>
				</div>
			</div>
		{%endif%}

		{%if removeLocations %}
			<div class="panel panel-default">
				<div class="panel-heading">Remove locations</div>
				<div class="panel-body">

					<table class="table">
						<thead>
							<tr><th>Id</th>
								<th>Name</th>
								<th>City</th>
								<th>Street</th>
								<th>Number</th>
								<th>Apartment</th>
								<th>Postal</th>
								<th>Phone</th>
								<th>Email</th>
							</tr>
						</thead>
						<tbody>
							{%for record in removeLocations%}
								<tr>
									<td>{{record.id}}</td>
									<td>{{record.name}}</td>
									<td>{{record.city}}</td>
									<td>{{record.street}}</td>
									<td>{{record.number}}</td>
									<td>{{record.apartment}}</td>
									<td>{{record.postal}}</td>
									<td>{{record.phone}}</td>
									<td>{{record.email}}</td>
								</tr>
							{%endfor%}
						</tbody>
					</table>
				</div>
			</div>
		{%endif%}

		{%if addUsers %}
			<div class="panel panel-default">
				<div class="panel-heading">Add Users</div>
				<div class="panel-body">

					<table class="table">
						<thead>
							<tr><th>Id</th>
								<th>Email</th>
								<th>First name</th>
								<th>Last Name</th>
								<th>Location</th>
							</tr>
						</thead>
						<tbody>
							{%for record in addUsers%}
								<tr>
									<td>{{record.id}}</td>
									<td>{{record.email}}</td>
									<td>{{record.first_name}}</td>
									<td>{{record.last_name}}</td>
									<td>{{record.location}}</td>
								</tr>
							{%endfor%}
						</tbody>
					</table>
				</div>
			</div>
		{%endif%}

		{%if editUsers %}
			<div class="panel panel-default">
				<div class="panel-heading">Edit Users</div>
				<div class="panel-body">

					<table class="table">
						<thead>
							<tr><th>Id</th>
								<th>Email</th>
								<th>First name</th>
								<th>Last Name</th>
								<th>Location</th>
							</tr>
						</thead>
						<tbody>
							{%for record in editUsers%}
								<tr>
									<td>-{{record.id}}</td>
									<td>{{record.email}}</td>
									<td>{{record.first_name}}</td>
									<td>{{record.last_name}}</td>
									<td>{{record.location}}</td>
								</tr>
								<tr>
									<td>+{{record.id}}</td>
									<td>{{record._email}}</td>
									<td>{{record._first_name}}</td>
									<td>{{record._last_name}}</td>
									<td>{{record._location}}</td>
								</tr>
							{%endfor%}
						</tbody>
					</table>
				</div>
			</div>
		{%endif%}

		{%if removeUsers %}
			<div class="panel panel-default">
				<div class="panel-heading">Remove Users</div>
				<div class="panel-body">

					<table class="table">
						<thead>
							<tr><th>Id</th>
								<th>Email</th>
								<th>First name</th>
								<th>Last Name</th>
								<th>Location</th>
							</tr>
						</thead>
						<tbody>
							{%for record in removeUsers%}
								<tr>
									<td>{{record.id}}</td>
									<td>{{record.email}}</td>
									<td>{{record.first_name}}</td>
									<td>{{record.last_name}}</td>
									<td>{{record.location}}</td>
								</tr>
							{%endfor%}
						</tbody>
					</table>
				</div>
			</div>
		{%endif%}

		{%if addOrders %}
			<div class="panel panel-default">
				<div class="panel-heading">Add Orders</div>
				<div class="panel-body">

					<table class="table">
						<thead>
							<tr><th>Id</th>
								<th>Owner</th>
								<th>Device</th>
								<th>State</th>
								<th>Performer</th>
								<th>Fetched at</th>
								<th>Closed at</th>
							</tr>
						</thead>
						<tbody>
							{%for record in addOrders%}
								<tr>
									<td>{{record.id}}</td>
									<td>{{record.owner}}</td>
									<td>{{record.device}}</td>
									<td>{{record.state}}</td>
									<td>{{record.performer}}</td>
									<td>{{record.fetched_at}}</td>
									<td>{{record.closed_at}}</td>
								</tr>
							{%endfor%}
						</tbody>
					</table>
				</div>
			</div>
		{%endif%}

		{%if editOrders %}
			<div class="panel panel-default">
				<div class="panel-heading">Edit Orders</div>
				<div class="panel-body">

					<table class="table">
						<thead>
							<tr><th>Id</th>
								<th>Owner</th>
								<th>Device</th>
								<th>State</th>
								<th>Performer</th>
								<th>Fetched at</th>
								<th>Closed at</th>
							</tr>
						</thead>
						<tbody>
							{%for record in editOrders%}
								<tr>
									<td>-{{record.id}}</td>
									<td>{{record.owner}}</td>
									<td>{{record.device}}</td>
									<td>{{record.state}}</td>
									<td>{{record.performer}}</td>
									<td>{{record.fetched_at}}</td>
									<td>{{record.closed_at}}</td>
								</tr>
								<tr>
									<td>+{{record.id}}</td>
									<td>{{record._owner}}</td>
									<td>{{record._device}}</td>
									<td>{{record._state}}</td>
									<td>{{record._performer}}</td>
									<td>{{record._fetched_at}}</td>
									<td>{{record._closed_at}}</td>
								</tr>
							{%endfor%}
						</tbody>
					</table>
				</div>
			</div>
		{%endif%}

		{%if removeOrders %}
			<div class="panel panel-default">
				<div class="panel-heading">Remove Orders</div>
				<div class="panel-body">

					<table class="table">
						<thead>
							<tr><th>Id</th>
								<th>Owner</th>
								<th>Device</th>
								<th>State</th>
								<th>Performer</th>
								<th>Fetched at</th>
								<th>Closed at</th>
							</tr>
						</thead>
						<tbody>
							{%for record in removeOrders%}
								<tr>
									<td>{{record.id}}</td>
									<td>{{record.owner}}</td>
									<td>{{record.device}}</td>
									<td>{{record.state}}</td>
									<td>{{record.performer}}</td>
									<td>{{record.fetched_at}}</td>
									<td>{{record.closed_at}}</td>
								</tr>
							{%endfor%}
						</tbody>
					</table>
				</div>
			</div>
		{%endif%}

	</DIV>


{% endblock %}
